---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import SecciónVentajas from "../components/SecciónVentajas.astro";
import Membresías from "../components/SecciónMembrsías.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="GYM24">
  <main class="w-full flex flex-col items-center">
    <Navbar />
    <Hero />
    <SecciónVentajas />
    <Membresías />
    <Footer />
  </main>
</Layout>
