---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="GYM24">
  <main class="w-full flex flex-col items-center">
    <Navbar />
    <!-- <Hero /> -->
  </main>
</Layout>
