---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Reasons from "../components/Reasons.astro";
---

<Layout title="GYM24">
  <main class="w-full flex flex-col items-center">
    <Hero />
    <Reasons/>
  </main>
</Layout>
