---
import "@fontsource/bruno-ace-sc";
import Instagram from "./icons/social-network/Instagram.astro";
import Facebook from "./icons/social-network/Facebook.astro";
import Twitter from "./icons/social-network/Twitter.astro";
import Youtube from "./icons/social-network/Youtube.astro";
import Call from "./icons/Call.astro";
import Email from "./icons/Email.astro";
---

<footer class="w-full flex flex-col items-center">

  <div class="w-full max-w-[950px] flex flex-col sm:flex-row justify-between gap-7 sm:gap-0 px-5 lg:px-0 [&>section]:text-white">
    
    <section class="hidden sm:block w-[300px] lg:w-[400px] text-center sm:text-left">
      <h3 id="logo" class="text-2xl">GYM<span class="text-[#faff00]">24</span></h3>
      <p class="text-sm mt-2">
        Consigue fuerza y confianza en nuestro gimnasio con equipos de última
        generación, entrenamiento personalizado y una comunidad motivadora.</p>
    </section>
  
    <section class="text-center sm:text-left">
      <h3 class="text-lg">Dirección</h3>
      <p class="text-sm mt-2">República de Bielorrusia <br /> Ciudad de Minsk <br /> Avenida Dzerzhinsky 15</p>
    </section>
  
    <section class="text-center flex flex-col justify-center items-center sm:items-start">
      <h3 class="text-lg">Contacto</h3>
      <p class="flex text-sm mt-2"><Call class="size-5 mr-2"/>+375(44)-777-24-12</p>
      <p class="flex text-sm mt-2"><Email class="size-5 mr-2"/>gym24@gmail.com</p>
  
      <section class="flex gap-3 mt-6 sm:mt-4">
        <a href="https://www.instagram.com/tronix.dev" target="_blank" class="hover:text-[#faff00]"><Instagram class="size-10 sm:size-8" /></a>
        <a href="#" target="_blank" class="hover:text-[#faff00]"><Facebook class="size-10 sm:size-8"/></a>
        <a href="#" target="_blank" class="hover:text-[#faff00]"><Twitter class="size-10 sm:size-8"/></a>
        <a href="#" target="_blank" class="hover:text-[#faff00]"><Youtube class="size-10 sm:size-8"/></a>
      </section>
    </section>

  </div>

  <section>
    <p class="text-white mt-3 sm:mt-0 py-2 text-sm">© <span id="year"></span> 7R0N1X | Casi todos los derechos reservados.</p>
  </section>

</footer>

<script>
  const $year = document.getElementById("year")

  var today = new Date();
  var year = today.getUTCFullYear();

  $year.innerText = String(year)
</script>

<style>
  #logo {
    font-family: "Bruno Ace SC", system-ui;
  }

  h3, p {
    font-family: "Inter Variable", sans-serif;
  }
</style>
