---
import "@fontsource/kanit";
import "@fontsource/bruno-ace-sc";
---

<footer class="flex flex-col sm:flex-row gap-7">

  <section class="text-white text-center hidden sm:block max-w-[300px] sm:text-left">
    <h3 id="logo" class="text-2xl">GYM<span class="text-[#faff00]">24</span></h3>
    <p class="text-sm mt-2">
      Consigue fuerza y confianza en nuestro gimnasio con equipos de última
      generación, entrenamiento personalizado y una comunidad motivadora.</p>
  </section>

  <section class="text-white text-center sm:text-left">
    <h3 class="text-lg">Dirección</h3>
    <p class="text-sm mt-2">República de Bielorrusia <br /> Ciudad de Minsk <br /> Avenida Dzerzhinsky 15</p>
  </section>

  <section class="text-white text-center flex flex-col justify-center items-center sm:items-start">
    <h3 class="text-lg">Contacto</h3>
    <p class="flex text-sm mt-2"><img src="/icon-call.svg" alt="Icono de llamada" class="mr-2 mb-1 size-5"/>+375(44)-777-24-12</p>
    <p class="flex text-sm"><img src="/icon-email.svg" alt="Icono de correo electrónico" class="mr-2 size-5" />gym24@gmail.com</p>

    <div class="flex gap-6 sm:gap-4 my-5">
      <a href="https://www.instagram.com/tronix.dev" target="_blank"><img src="/instagram.svg" alt="Icono Instagram" class="size-10 sm:size-8" /></a>
      <a href="#" target="_blank"><img src="/facebook.svg" alt="Icono Facebook" class="size-10 sm:size-8" /></a>
      <a href="#" target="_blank"><img src="/twitter.svg" alt="Icono Twitter" class="size-10 sm:size-8" /></a>
      <a href="#" target="_blank"><img src="/youtube.svg" alt="Icono Youtube" class="size-10 sm:size-8" /></a>
    </div>
  </section>

</footer>

<style>
  #logo {
    font-family: "Bruno Ace SC", system-ui;
  }

  h3 {
    font-family: "Kanit", sans-serif;
  }
</style>
