---
import "@fontsource/kanit";
import Button from "./Button.astro";
---

<section class="h-[480px] md:h-[791px] w-full flex flex-col items-center relative z-10" id="background">
  <div class="h-full w-full max-w-[1169px] flex flex-col justify-center items-center sm:items-start px-5">
    <h1 class="text-white text-center sm:text-left text-3xl sm:text-5xl lg:text-6xl leading-10 mb-7 w-[300px] sm:w-[500px]">
      Sesión de prueba gratuita con un entrenador
    </h1>
    <Button href="#" name="Más información" />
  </div>
</section>

<style>
  #background {
    background: url("/background.png") no-repeat center/cover;
    mask-image: linear-gradient(black 80%, transparent);
  }

  h1 {
    font-family: "Kanit", sans-serif;
  }
</style>
