---
import Button from "./Button.astro";
---

<section class="h-[480px] md:h-screen w-full flex flex-col items-center relative z-10" id="background">
  <div class="h-full w-full max-w-[1320px] flex flex-col justify-center items-center sm:items-start px-5 lg:px-0">
    <h1 class="text-white font-bold text-center sm:text-left text-2xl sm:text-5xl sm:leading-tight mb-2 w-[300px] sm:w-[539px] uppercase">
      ¡Empieza tu viaje hacia la salud hoy!
    </h1>
    <p class="hidden md:block text-white text-xl font-medium w-[539px]">Regístrate para una sesión de <span class="text-[#faff00]">prueba gratuita</span> con uno de nuestros entrenadores expertos.</p>
    <Button href="#" name="¡Reserva tu sesión ahora!" class=" bg-[#faff00] py-3 px-6 rounded-[30px] font-bold uppercase text-sm sm:text-base mt-2 sm:mt-7"/>
  </div>
</section>

<style>
  #background {
    background: url("/background.jpg") no-repeat center/cover;
    mask-image: linear-gradient(black 80%, transparent);
  }

  h1 {
    font-family: "Inter Variable", sans-serif;
  }
</style>
 