---
import MembreshipCard from "./MembreshipCard.astro"
---

<section class="w-full max-w-[1169px] my-8 flex flex-col justify-center items-center">
  <h1 class="text-white text-3xl sm:text-5xl text-center mb-8">Membresías</h1>
  <div class="flex px-5 gap-5 overflow-x-auto w-full lg:flex-row lg:flex-wrap lg:justify-center">
    <MembreshipCard membership="Pass Trial" price="0" items={["Acceso de 8:00 a 14:00", "El entrenador de turno te presentará el gimnasio"]} href="#" name="Comprar"/>        
    <MembreshipCard membership="Pass Easy Start" price="119" items={["Acceso sin restricciones 24/7", "Formación individual", "Acceso VTRAINER", "Soporte del entrenador"]} href="#" name="Comprar"/>        
    <MembreshipCard membership="Pass Free Time" price="49" items={["Acceso de 14:00 a 16:00", "Sin suspensión de membresía", "El entrenador de turno te presentará el gimnasio"]} href="#" name="Comprar"/>        
    <MembreshipCard membership="Pass 1 Mes 24/7" price="85" items={["Acceso sin restricciones 24/7", "El entrenador de turno te presentará el gimnasio"]} href="#" name="Comprar"/>        
    <MembreshipCard membership="Pass In Shape (AM)" price="165" items={["Entrenamiento en minigrupos hasta las 14:00", "Sin suspensión de membresía", "Clases en minigrupo 3 veces por semana", "Soporte del entrenador"]} href="#" name="Comprar"/>
    <MembreshipCard membership="Pass In Shape (PM)" price="195" items={["Entrenamiento en minigrupos hasta las 17:00", "Sin suspensión de membresía", "Clases en minigrupo 3 veces por semana", "Soporte del entrenador"]} href="#" name="Comprar"/>    
  </div>
</section>

<style>
  h1,{
    font-family: "Kanit", sans-serif;
  }
</style>
