---
import "@fontsource/kanit";
import ReasonContainer from "./ReasonContainer.astro";
---

<section class="w-full sm:w-[571px] lg:w-auto max-w-[1169px] my-8">
  <h1 class="text-white text-3xl sm:text-5xl text-center mb-8">Razones para unirse</h1>

  <div class="flex flex-col flex-wrap justify-center gap-8 lg:flex-row">
    <ReasonContainer imagePath="/1.svg" alt="" reason="15.000 m2" description="Un gimnasio espacioso para hacer deporte: una distancia segura entre las máquinas de ejercicio."/>
    <ReasonContainer imagePath="/2.svg" alt="" reason="Más de 200 equipos" description="Sin colas en los simuladores. Equipos de primera calidad de LifeStyle, Hammer Strength y TechnoGym."/>
    <ReasonContainer imagePath="/3.svg" alt="" reason="4 zonas de fitness" description="Desde cardio hasta funcional y ciclismo. Zona separada para boxeo y artes marciales mixtas."/>
    <ReasonContainer imagePath="/4.svg" alt="" reason="Funcionamiento ininterrumpido" description="El gimnasio está abierto las 24 horas del día, también funciona todos los días festivos y fines de semana."/>
  </div>
</section>

<style>
  h1 {
    font-family: "Kanit", sans-serif;
  }
</style>
