---
import "@fontsource/kanit";

interface Props {
  imagePath: string;
  alt: string;
  reason: string;
  description: string;
}

const { imagePath, alt, reason, description } = Astro.props;
---

<div class="flex mx-5 lg:w-[390px]">
  <img src={imagePath} alt={alt} class="mr-2 size-12" />
  <div>
    <p class="text-white text-lg font-medium">{reason}</p>
    <p class="text-white text-sm">{description}</p>
  </div>
</div>

<style>
  p {
    font-family: "Kanit", sans-serif;
  }
</style>