---
import Entrenador from "./Entrenador.astro"
---

<section class="w-screen max-w-[1300px] my-8 flex flex-col justify-center items-center">
  <h1 class="text-white text-2xl sm:text-3xl text-center mb-8 uppercase font-bold">Entrenadores</h1>
  <div class="flex px-5 gap-5 overflow-x-auto w-full lg:flex-row lg:flex-wrap lg:justify-center">
    <Entrenador imagePath="staff/victoria-shurpik.webp" name="Victoria Shurpik" instagram="https://www.instagram.com/tronix.dev" twitter="#" youtube="#"/>
    <Entrenador imagePath="staff/elizabeth-lavrinenko.webp" name="Elizabeth Lavrinenko" instagram="https://www.instagram.com/tronix.dev" twitter="#" youtube="#"/>
    <Entrenador imagePath="staff/ivan-gladkikh.webp" name="Ivan Gladkikh.webp" instagram="https://www.instagram.com/tronix.dev" twitter="#" youtube="#"/>
    <Entrenador imagePath="staff/lyudmila-sabilo.webp" name="Lyudmila Sabilo" instagram="https://www.instagram.com/tronix.dev" twitter="#" youtube="#"/>
    <Entrenador imagePath="staff/evgeny-gurkov.webp" name="Evgeny Gurkov" instagram="https://www.instagram.com/tronix.dev" twitter="#" youtube="#"/>
    <Entrenador imagePath="staff/anatoly-prytytsky.webp" name="Anatoly Prytytsky" instagram="https://www.instagram.com/tronix.dev" twitter="#" youtube="#"/>
    <Entrenador imagePath="staff/victor-ludkovich.webp" name="Victor Ludkovich" instagram="https://www.instagram.com/tronix.dev" twitter="#" youtube="#"/>
    <Entrenador imagePath="staff/maria-masyak.webp" name="Maria Masyak" instagram="https://www.instagram.com/tronix.dev" twitter="#" youtube="#"/> 
  </div>
</section>