---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Descubra Gym24, su destino para un estilo de vida activo y saludable. Ofrecemos una amplia gama de servicios, desde entrenamientos personalizados a clases en grupo, para ayudarle a alcanzar sus objetivos de fitness - ¡únase a nosotros hoy mismo y comience su viaje hacia una vida más sana y en forma con Gym24!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black">
    <slot />
  </body>
</html>
